on early-fs
    mkdir /system
    mkdir /data
    mkdir /cache
    wait /dev/block/mmcblk0p18
    wait /dev/block/mmcblk0p19
    wait /dev/block/mmcblk0p21
    wait /proc/mounts
    mount ext4 /dev/block/mmcblk0p18 /system ro wait noatime nodiratime nodiscard,errors=panic
    mount f2fs /dev/block/mmcblk0p18 /system ro wait seclabel noatime nodiratime background_gc=off,user_xattr
    mount ext4 /dev/block/mmcblk0p21 /data wait noatime nodiratime nosuid nodev discard,journal_async_commit,errors=panic
    mount f2fs /dev/block/mmcblk0p21 /data wait noatime nodiratime nosuid nodev discard,background_gc=sync
    mount ext4 /dev/block/mmcblk0p19 /cache wait noatime nodiratime nosuid nodev discard,journal_async_commit,errors=panic
    mount f2fs /dev/block/mmcblk0p19 /cache wait noatime nodiratime nosuid nodev discard,background_gc=sync

on init
    chmod 0755 /res/bin/busybox
    chmod 0755 /res/bin/curl
    chmod 0755 /res/bin/sqlite3
    chmod 0755 /res/bin/sr
    chmod 0755 /res/bin/stats

on boot

# init.d
service boot-init /system/bin/sh /sbin/boot-init.sh
    class main
    user root
    group root
    oneshot

service boot-postinit /system/bin/sh /sbin/boot-postinit.sh
    class main
    user root
    group root
    disabled
    oneshot

on property:sys.boot_completed=1
    start boot-postinit
# end of init.d
